<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <ul><%= f.text_field :name %></ul>
  
  Email: <ul><%= f.text_field :email %></ul>
  
  Password: <ul><%= f.password_field :password %></ul>
  Confirm Password: <ul><%= f.password_field :password_confirmation %></ul>
  <ul><%= f.submit "Submit" %></ul>

<% end %>  